{% extends 'base/base.html' %}
{% block head_title %}
RPGMG
{% endblock head_title %}
{% block titulo_principal %}
Productos que generan mas ganancias
{% endblock titulo_principal %}
{% block mensaje_titulo %}
Resumen de Productos que generan mas ganancias con fechas establecidas 
{% endblock mensaje_titulo %}
{% block enlace_actual %}
<a href="{% url 'estrategico:re_producto_generan_ganancias' %}">productos que generan mas ganancias</a>
{% endblock enlace_actual %}
{% block contenido %}
{% if messages %}
{% for message in messages %}
<li{% if message.tags %} class="alert alert-{{ message.tags }} text-center" {% endif %}>
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
    {{ message }}
    </li>
    {% endfor %}
    {% endif %}
    <div class="container">
        <div class="text-center container-central">
            <label class="control-label" id="label_custom">Productos que generan mas ganancias</label>
            <p>{{fecha}}</p>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            {% include "base/fechas_snippet.html" %}
            
            <div class="row">
                <div class="col-12">
                    <div class="row ">
                        <div class="col-4">
                            <button name="tipo" class="btn btn-default boton-custom"  type="button" onclick="preview()" value="1">Preview <i
                                class="fa fa-eye fa-2x" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-4">
                            <button name="tipo" class="btn btn-primary boton-custom" type="submit" value="2">Generar
                                Reporte en PDF <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-4">
                            <button name="tipo" class="btn btn-success boton-custom" type="submit" value="3">Generar
                                Reporte en xls <i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>


    <div class="container" style="position: relative; top:20px; display:none" id='id_tile'>
        <div class="tile" style="border: black solid">
                <h3 class="tile-title">Preview</h3>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Producto</th>
                      <th>Ganancia</th>
  

                    </tr>
                  </thead>
                  <tbody id='table'>

                  </tbody>
                </table>
              </div>
</div>
    {% endblock contenido %}


    {% block plugins %}

    {% include "base/conf_fechas.html" %}

    <script type="text/javascript">
        // using jQuery get csrftoken from your HTML
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    // if not safe, set csrftoken
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            function preview(){


                $.ajax({
                    url: "{%  url 'estrategico:re_producto_generan_ganancias' %}",
                    method:'POST',
                    data: {
                        // here getdata should be a string so that
                        // in your views.py you can fetch the value using get('getdata')
                        'tipo': 1,
                        'fechainicio':$("#id_fechainicio").val(),
                        'fechafin':$("#id_fechafin").val()


                    },
                    dataType: 'json',
                    success: function (res, status) {
                        if(Array.isArray(res)){
                            $("#error_fechainicio").hide()
                            $("#error_fechafin").hide()
                            $("#id_tile").show()
                            console.log(res)
                            var table=$("#table");
                            $("#table").html("")
                            res.forEach(function(elemento){
                            table.append("<tr><td>"+elemento.idProducto__nombre+"</td><td>"
                            +elemento.ganancia+
                            "</td></tr>");
                            }
                            );
                        }
                        else{
                            $("#error_fechainicio").hide()
                            $("#error_fechafin").hide()
                            $("#id_tile").hide()
                           
                            obj=JSON.parse(res)
                            if(obj.fechafin!=null){
                                $("#error_fechafin").show()
                                $("#error_fechafin").html(obj.fechafin[0].message)
                            }
                            if(obj.fechainicio!=null){
                                $("#error_fechainicio").show()
                                $("#error_fechainicio").html(obj.fechainicio[0].message)
                            }
                        }
                    },
                    error: function (res) {
                        console.log(res);                                                                                                                          
                    }
                });
            }
        </script>
    {% endblock plugins %}