{% extends 'base/base.html' %}
{% block head_title %}
Resumen Productos mas Vendidos
{% endblock head_title %}
{% block titulo_principal %}
Resumen productos mas vendidos
{% endblock titulo_principal %}
{% block mensaje_titulo %}
Este es el resumen
{% endblock mensaje_titulo %}
{% block enlace_actual %}
<a href="/">produtos mas vendidos</a>
{% endblock enlace_actual %}
{% block contenido %}
{{user.is_authenticated}}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group row">
                <label class="control-label col-3" id="label_custom">Fecha Inicio</label>
                <input class="form-control col-6" id="fechainicio" type="text" placeholder="Select Date">
                <i class="fa fa-calendar fa-2x col-3" aria-hidden="true"></i>

            </div>

        </div>
        <div class="col-6">
            <div class="form-group row">
                <label class="control-label col-3" id="label_custom">Fecha Fin</label>
                <input class="form-control col-6" id="fechafin" type="text" placeholder="Select Date">
                <i class="fa fa-calendar fa-2x col-3" aria-hidden="true"></i>

            </div>

        </div>
    </div>
    {% endblock contenido %}


    {% block plugins %}


    <script type="text/javascript">
        $.fn.datepicker.dates['es'] = {
            days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
            daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
            daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá"],
            months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre",
                "Octubre", "Noviembre", "Diciembre"
            ],
            monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
            today: "Hoy",
            clear: "Borrar",
            format: "dd/mm/yyyy",
            titleFormat: "MM yyyy",
            /* Leverages same syntax as 'format' */
            weekStart: 0
        };

        $('#fechainicio').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
            language: 'es'
        });


        $('#fechafin').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
            language: 'es'

        });
    </script>
    {% endblock plugins %}