{% extends 'base/base.html' %}
{% block head_title %}
    Error 503
{% endblock head_title %}
{% block titulo_principal %}

{% endblock titulo_principal %}
{% block mensaje_titulo %}

{% endblock mensaje_titulo %}
{% block enlace_actual %}
{% endblock enlace_actual %}
{% block contenido %} 
<script>
    document.getElementsByClassName("app-title")[0].remove();
</script>

<div class="page-error tile">
    <h1><i class="fa fa-exclamation-circle"></i> Error 403: No posee permisos suficientes </h1>
    <p>La pagina solicitada, posee permisos especificos</p>
    <p><a class="btn btn-primary" href="javascript:window.history.back();"> Regresar </a></p>
  </div>
{% endblock contenido %}
