{% load static %}
{% load helpers %}
<!DOCTYPE html>
<html lang="es">
    <head>  
        <title>
            {% block head_title %}
            Principal
            {% endblock head_title %}
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    </head>
        <body class="app sidebar-mini rtl">
                <!-- Navbar-->
            <header class="app-header"><a class="app-header__logo" href="#">CiberCachadas</a>
                  <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
                  <!-- Navbar Right Menu-->
            {% if user.is_authenticated %}
            <ul class="app-nav">
            <!-- User Menu-->
                <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'general:logout' %}"><i class="fa fa-sign-out fa-lg"></i> Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
            </header>
                <!-- Sidebar menu-->
      
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            {% if user.is_authenticated %}
              <aside class="app-sidebar">
                  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="{% static '/img/user.png' %}" alt="User Image">
                    <div>
                      <p class="app-sidebar__user-name">{{user.last_name}} {{user.first_name}}</p>
                      <p class="app-sidebar__user-designation">{{user.groups.first| default_if_none:"" }}</p>
                    </div>
                  </div>

                    {% if request.user|has_group:"Estrategico" %} 
                    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-folder-open-o"></i><span class="app-menu__label">Reportes Estrategicos</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">

                              {% if perms.gerencial.resumen_productos_ganancias %}                     
                              <li><a class="treeview-item " href="{% url 'estrategico:re_producto_generan_ganancias' %}"><i class="icon fa fa-circle-o"></i> Productos con Ganancias</a></li>
                              {% endif %}
                              {% if perms.gerencial.resumen_productos_potenciales %}                               
                              <li><a class="treeview-item" href="{% url 'estrategico:re_producto_potenciales' %}"><i class="icon fa fa-circle-o"></i> Productos Potenciales</a></li>
                              {% endif %}
                              {% if perms.gerencial.resumen_ganancias_clientes %}
                              <li><a class="treeview-item" href="{% url 'estrategico:re_producto_ganancias_clientes' %}"><i class="icon fa fa-circle-o"></i> Ganancia de Clientes</a></li>
                              {% endif %}
                              {% if perms.gerencial.resumen_productos_vendidos %}
                              <li><a class="treeview-item" href="{% url 'estrategico:re_producto_vendido' %}"><i class="icon fa fa-circle-o"></i> Productos Más Vendidos</a></li>
                             {% endif %}
                             {% if perms.gerencial.resumen_tardanzas_productos %}
                             <li><a class="treeview-item" href="{% url 'estrategico:re_producto_tardanza_productos' %}"><i class="icon fa fa-circle-o"></i>Tardanza Movimiento </a></li>
                            {% endif %}
                            </ul>
                        </li>
                        {% endif %}               

                        {% if request.user|has_group:"Tactico" %} 
                        <li class="treeview "><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-folder-open-o"></i><span class="app-menu__label">Reportes Tacticos</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                              

                              {% if perms.gerencial.semi_productos_vendidos %}
                              <li><a class="treeview-item " href="{% url 'tactico:semire_producto_mas_vendidos' %}"><i class="icon fa fa-circle-o"></i> Productos mas Vendidos</a></li>
                              {% endif %}
                              {% if perms.gerencial.semi_productos_ganancias %}
                              <li><a class="treeview-item" href="{% url 'tactico:semire_producto_generan_ganancia' %}" ><i class="icon fa fa-circle-o"></i> Productos Generan Ganancia</a></li>
                              {% endif %}
                              {% if perms.gerencial.semi_retornos_equipos %}
                              <li><a class="treeview-item" href="{% url 'tactico:semire_retorno_equipos_garantia' %}" ><i class="icon fa fa-circle-o"></i> Retorno de equipos </a></li>
                              {% endif %}
                              {% if perms.gerencial.semi_productos_consigna %}
                              <li><a class="treeview-item" href="{% url 'tactico:semire_productos_consigna' %}" ><i class="icon fa fa-circle-o"></i>    Productos en Consigna </a></li>
                              {% endif %}
                              {% if perms.gerencial.semi_ganancias_clientes %}
                              <li><a class="treeview-item" href="{% url 'tactico:semire_clientes_ganancia' %}" ><i class="icon fa fa-circle-o"></i> Ganancias de Clientes</a></li>
                              {% endif %}
                              {%if perms.gerencial.semi_clientes_frecuentes %}
                              <li><a class="treeview-item" href="{% url 'tactico:semire_clientes_frecuentes' %}" ><i class="icon fa fa-circle-o"></i> Clientes Frecuentes </a></li>
                              {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>


                </aside>
                {% endif %}
            <main class="app-content">
                <div class="app-title">
                    <div>
                      <h1><i class="fa fa-dashboard"></i> {% block titulo_principal %} Black {% endblock titulo_principal %}</h1>
                      <p>{% block mensaje_titulo %} Black {% endblock mensaje_titulo %}</p>
                    </div>
                    <ul class="app-breadcrumb breadcrumb">
                      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                      <li class="breadcrumb-item">{% block enlace_actual %} Black {% endblock enlace_actual %}</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="tile">
                        <div class="tile-body">
                            {% block contenido %} Black {% endblock contenido %}
                        </div>
                      </div>
                    </div>
                </div>
            </main>
               <!-- Essential javascripts for application to work-->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script  src="{% static 'js/plugins/bootstrap-datepicker.min.js' %}"></script>
            <!-- The javascript plugin to display page loading on top-->
        <script src="{% static 'js/plugins/pace.min.js' %}"></script>
        {% block plugins %}
        
        {% endblock plugins%}
    </body>
</html>