<div class="row">
    <div class="col-6">
        <div class="form-group row">
            <label class="control-label col-3" id="label_custom">Fecha Inicio</label>
            {{form.fechainicio}}           
             <i class="fa fa-calendar fa-2x col-3" aria-hidden="true"></i>
             {% if form.fechainicio.errors %}
             <div class="form-control-feedback col-6 text-danger"> {{form.fechainicio.errors.0}}</div>
             {% endif %}
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
            <label class="control-label col-3" id="label_custom">Fecha Fin</label>
            
            {{form.fechafin}}
            <i class="fa fa-calendar fa-2x col-3" aria-hidden="true"></i>
            {% if form.fechafin.errors %}
            <div class="form-control-feedback col-5 text-danger"> {{form.fechafin.errors.0}}</div>
            {% endif %}
   

        </div>
    </div>
</div>
   
