{% extends 'base/base.html' %}
{% block head_title %}
Perfil Usuario
{% endblock head_title %}
{% block titulo_principal %}
Perfil Usuario
{% endblock titulo_principal %}
{% block mensaje_titulo %}
Perfil Usuario
{% endblock mensaje_titulo %}
{% block enlace_actual %}
<a href="/perfil">Perfil Usuario</a>
{% endblock enlace_actual %}
{% block contenido %}

{% if messages %}
{% for message in messages %}
<li{% if message.tags %} class="alert alert-{{ message.tags }} text-center" {% endif %}>
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
    {{ message }}
    </li>
    {% endfor %}
    {% endif %}
    
<div class="tile-body">
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="">
                    <div class="form-group"> <label class="control-label">Usuario:</label> <input class="form-control"
                            type="text" readonly="" value="{{user.username}}"> </div>
                    <div class="form-group"> <label class="control-label">Nombres:</label> <input class="form-control"
                            type="text" readonly="" value="{{user.first_name}}"> </div>
                    <div class="form-group"> <label class="control-label">Apellidos:</label> <input class="form-control"
                                type="text" readonly="" value="{{user.last_name}}"> </div>
                    <div class="form-group"> <label class="control-label">Email:</label> <input class="form-control"
                        type="text" readonly="" value="{{user.email}}"> </div>
                    <div class="form-group"> <label class="control-label">Perfil:</label> <input class="form-control"
                            type="text" value="Administrador" readonly=""> </div>
                </form> <a href="/perfil/cambiar" class="btn btn-success">Cambiar Contraseña</a>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}