{% extends 'base/base.html' %}
{% block head_title %}
Administración de Usuarios
{% endblock head_title %}
{% block titulo_principal %}
Bitacora de Usuarios
{% endblock titulo_principal %}
{% block mensaje_titulo %}
Bitacora de usuarios
{% endblock mensaje_titulo %}
{% block enlace_actual %}
<a href="{% url 'administrador:admin_bitacora_usuarios' %}">Bitacora de Usuarios</a>
{% endblock enlace_actual %}
{% block contenido %}
<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid"
                aria-describedby="sampleTable_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"
                            aria-sort="ascending" style="width: 65px;">
                            Fecha</th>
                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"
                            style="width: 137px;">
                            Usuario Que Realiza Accion</th>
                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"
                            style="width: 135px;">
                            Acciones</th>
 
                </thead>
                <tbody>
                    {% for item in obj %}
                    <tr role="row" class="odd">
                        <td>{{ item.fecha }}</td>
                        <td>{{ item.usuario }}</td>
                        <td>{{ item.accion }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="dataTables_paginate paging_simple_numbers" id="sampleTable_paginate">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="paginate_button page-item previous" id="sampleTable_previous">
                        <a href="?page={{ page_obj.previous_page_number }}" aria-controls="sampleTable" data-dt-idx="0"
                            tabindex="0" class="page-link">
                            Anterior
                        </a>
                    </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <li class="paginate_button page-item previous" id="sampleTable_previous">
                        <a href="?page={{ page_obj.next_page_number }}" aria-controls="sampleTable" data-dt-idx="0"
                            tabindex="0" class="page-link">
                            Siguiente
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endblock contenido %}